fluent-button {
  background: #ccc;
  display: inline-block;

  button {
    color: inherit;
    //font-size: inherit;
    transition: background-color 100ms ease-in-out, transform 100ms ease-in-out;
    //margin: 10px 0;
    background: transparent;
    border: none;
    padding: 10px 15px;
    border-radius: 2px;
    font-family: "Segoe UI", Arial, sans-serif;
  }

  button:hover {
    outline: 2px solid #7A7A7A;
  }

  button:active {
    background-color: #aaa;
    transform: scale(.98, .98);
  }
}
