<div class="main light">
  <fluent-acrylic opacity="7" class="left">
    <fluent-header>Channels</fluent-header>
    <fluent-nav-view [(selection)]="currentChannel">
      <fluent-item *ngFor="let channel of channels" [text]="channel.name"></fluent-item>
    </fluent-nav-view>
  </fluent-acrylic>
  <fluent-acrylic opacity="9" class="center">
    <fluent-header size="1" [hasSub]="currentChannel !== -1">{{serverName}} <code *ngIf="serverId">{{serverId}}</code></fluent-header>
    <fluent-header size="3" *ngIf="currentChannel !== -1">{{channels[currentChannel].name}}</fluent-header>
    <div class="channel-wrapper" *ngIf="enableMessages">
      <fluent-item *ngFor="let message of channels[currentChannel].messages">
        <fluent-avatar [src]="message.author.email"></fluent-avatar>
        <small>{{message.author.name}}</small><br>
        {{message.text}}
      </fluent-item>
    </div>
    <div class="start-wrapper" *ngIf="enableIntro">
      <div id="intro-part-1" class="intro" [ngClass]="introPartOneClass" *ngIf="partOneEnabled">
        <p>Hello! Welcome to <i>Seminar</i>: a Discord-like experience for use on the fly. To get started, Enter your name (and, optionally, your email) to get started.</p>
        <fluent-input [(value)]="name" placeholder="Name" autocomplete="given-name"></fluent-input>
        <fluent-input [(value)]="email" placeholder="Email (optional)" type="email"></fluent-input>
        <fluent-button (click)="login()">Log In</fluent-button>
      </div>
      <div id="intro-part-2" class="intro" [ngClass]="introPartTwoClass" *ngIf="partTwoEnabled">
        <div class="intro-2-side-left">
          <fluent-header size="2">Join a Server</fluent-header>
          <fluent-input placeholder="Server Code" [(value)]="joinServerId"></fluent-input>
          <fluent-button (click)="join()">Join</fluent-button>
        </div>
        <div class="intro-2-side-right">
          <fluent-header size="2">Create a Server</fluent-header>
          <fluent-input placeholder="Server Name" [(value)]="newServerName"></fluent-input>
          <fluent-button (click)="create()">Join</fluent-button>
        </div>
      </div>
    </div>
    <div class="footer" *ngIf="enableMessages">
      <fluent-input placeholder="Message" [(value)]="messageText" [border]="false"></fluent-input>
      <fluent-button (click)="sendMessage()" id="message">Send</fluent-button>
    </div>
    <div class="test-inputs" hidden>
      <input title="Name" [(ngModel)]="name" name="name" placeholder="Name">
      <input title="Email" [(ngModel)]="email" name="email" type="email" placeholder="Email">
      <button (click)="login()">Test Login</button><br>
      <input title="New Server Name" [(ngModel)]="newServerName" name="sn" placeholder="Server Name">
      <button (click)="create()">Test Create</button><br>
      <input title="Join Server Id" [(ngModel)]="joinServerId" name="id" placeholder="Server Code">
      <button (click)="join()">Test Join</button><br>
      <input title="Send Message" [(ngModel)]="messageText" name="msg" placeholder="Message">
      <input title="Channel" [(ngModel)]="channelToSendMessage" name="chnl" placeholder="Channel Name">
      <button (click)="sendMessage()">Test Send Message</button><br>
      <input title="New Channel Name" [(ngModel)]="newChannelName" name="newchnl" placeholder="New Channel Name">
      <button (click)="newChannel()">Test Create New Channel</button>
    </div>
  </fluent-acrylic>
  <fluent-acrylic opacity="7">
    <fluent-header>People - {{name}}</fluent-header>
    <fluent-item *ngFor="let person of people">{{person[0]}}</fluent-item>
  </fluent-acrylic>
</div>
